<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/sty.css}"/> 
</head>
<body>
<div class="hide"><button class="del_button" data-files-delete>批量删除</button></div>
<div name="sbdl" th:each="pro : ${pages?.items}" th:data-id="${pro?.id}">
<button data-hide>显示/隐藏</button>
<input type="checkbox" >
<p>
<font size="6" th:text="${pro?.name}"></font>  <button class="del_button" del-x>x</button>
</p>
<div>
商品介绍:<p th:text="${pro?.produce}"></p>
<img th:src="@{${pro?.photo}}" style="width:500px;height:450px;" />
</div>
</div>
<ul class="pagination" th:if="!${pages?.items.isEmpty()}">
<li ><a  th:href="|?page=${pages?.getPre()}|" href="?page=1" >上一页</a></li>
<li th:each="page:${pages?.getPages()}">
<a th:href="|?page=${page}|" href="?page=1" th:class="${page eq pages.page} ? 'active' ">[[${page}]]</a>
</li>
<li><a th:href="|?page=${pages?.getNext()}|" href="">下一页</a>
</li>
</ul> 
</body>
<script th:src="@{/js/jquery-3.2.0.min.js}"></script>
<script th:src="@{/js/index.js}"></script>
</html>